@import './assets/css/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue-1: #15BFF3;
  --blue-2: #0171BA;
}

.bg-introduce {
  background-color: #EFF8FB;
}

.text-heading {
  background: linear-gradient(to bottom, var(--blue-1) 0%, var(--blue-2) 100%); 
  background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
}

.background-linear {
  background: linear-gradient(to bottom, var(--blue-1) 0%, var(--blue-2) 100%)
}

.bg-cl {
  background-color: #EFF8FB;
}

@media screen and (min-width: 768px) {
  .benefit-item:first-child,.benefit-item:last-child {
    width: 80%;
  }
  
  .benefit-item:nth-child(even) {
    width: 90%;
  }
}

.menu-footer:first-child {
  padding-left: 0;
}

.menu-footer:last-child {
  border-right: none
}

.menu-footer {
  border-right: 1px solid #ffffff;
}
.btn-footer {
  padding: 8px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  border-radius: 12px;
}

.btn-footer:hover {
  background: #ffffff;
  border: 1px solid #000000;
  color: #0071bb;
}

.social-footer:hover {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
