@import './assets/css/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue-1: #15BFF3;
  --blue-2: #0171BA;
}

.bg-introduce {
  background-color: #EFF8FB;
}

.text-heading {
  background: linear-gradient(to bottom, var(--blue-1) 0%, var(--blue-2) 100%); 
  background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
}

.background-linear {
  background: linear-gradient(to bottom, var(--blue-1) 0%, var(--blue-2) 100%)
}

.bg-cl {
  background-color: #EFF8FB;
}

.bg-primary {
  background-color: var(--blue-2);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--blue-2);
}
::-webkit-scrollbar-thumb {
  background: var(--blue-1);
  border-radius: 20px;
}

/* Header */
.hamburger {
  position: relative;
  height: 24px;
  width: 32px;
  cursor: pointer;
}

.hamburger::after {
  top: 0;
}

.hamburger::before {
  bottom: 0;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #ffffff;
}

.hamburger-rotate::before {
  transform: rotate(45deg) translate(5px, -20px);
  transition:  all 0.4s;
}

.hamburger-rotate::after {
  transform: rotate(-45deg) translate(5px, 20px);
  transition:  all 0.4s;
}

.hamburger-rotate span {
  opacity: 0;
  transition:  all 0.4s;
}

.nav__mobile {
  top: calc(0 -80px);
  width: 100%;
}

/* Footer */
.menu-footer:first-child {
  padding-left: 0;
}

.menu-footer:last-child {
  border-right: none
}

.btn-footer {
  padding: 8px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  border-radius: 12px;
}

.btn-footer:hover {
  background: #ffffff;
  border: 1px solid #000000;
  color: #0071bb;
}

.social-footer:hover {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}


/* Custom slider */

.react-multiple-carousel__arrow {
  z-index: 100;
}


/* Responsive */
@media screen and (min-width: 768px) {
  .benefit-item:first-child,.benefit-item:last-child {
    width: 80%;
  }
  
  .benefit-item:nth-child(even) {
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .menu-footer {
    border-right: 1px solid #ffffff;
  }
}


